################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

desktop.ini
/ScannerRanging/.vs/ScannerRanging/v16
/ScannerRanging/LIMTest/Debug
/ScannerRanging/LIMTest/Release
/ScannerRanging/TryLIM/Debug
/ScannerRanging/TryLIM/Release
/ScannerRanging/Release
/ScannerRanging/Debug
/ScannerRanging/LIMTest/x64/Release
/ScannerRanging/LIMTest/x64/Debug
/ScannerRanging/TryLIM/x64/Release
/ScannerRanging/TryLIM/x64/Debug
/ScannerRanging/LidarDataPackage/Debug
/ScannerRanging/LidarDataPackage/Release
/ScannerRanging/LIMConsoleClient/Debug
/ScannerRanging/LIMConsoleClient/Release
/ScannerRanging/MultipleDeviceClient/Debug
/ScannerRanging/MultipleDeviceClient/Release
/ScannerRanging/Draw/Debug
/ScannerRanging/Draw/Release
/ScannerRanging/NewDraw/Debug
/ScannerRanging/NewDraw/Release
/ScannerRanging/VirtualPostClient/Debug
/ScannerRanging/VirtualPostClient/Release
/ScannerRanging/LidarHeightTestDialog/Debug
/ScannerRanging/LidarHeightTestDialog/Release
