################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ScannerRanging/.vs/ScannerRanging/v16
/ScannerRanging/LIMTest/Debug
/ScannerRanging/LIMTest/Release
/ScannerRanging/TryLIM/Debug
/ScannerRanging/TryLIM/Release
/ScannerRanging/Release
/ScannerRanging/Debug
/ScannerRanging/LIMTest/x64/Release
/ScannerRanging/LIMTest/x64/Debug
/ScannerRanging/TryLIM/x64/Release
/ScannerRanging/TryLIM/x64/Debug
